<!--Main menu-->
<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-button slot="start" fill="clear" size="large" shape="round">
      <ion-back-button color="light"></ion-back-button>
    </ion-button>
    <ion-menu-button slot="end" color="light"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<!--Main menu-->
<ion-content color="brown">
  <ion-title color="light">Recuperación</ion-title>
  <div class="user-image">
    <img src="../../assets/img/user.png" alt="User">
  </div>
  <div class="contenedor">
  <p>Ingrese su correo para enviar un mensaje con las instrucciones.</p>
    <form>
      <ion-row>
        <ion-col>
          <ion-label>Correo</ion-label>
          <ion-item lines="full">
            <ion-input type="text" #email required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="light-brown" (click)="authService.PasswordRecover(email.value)">
            Enviar link de recuperación
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
